body{
    margin:0;
    padding:0;
    background-image: url(./img/hader.jpg);
    background-repeat: repeat-x;
}

@font-face {
    font-family: OpenSansBold;
    src: url(./fonts/OpenSansBold.ttf);
}

    @font-face {
    font-family: Raleway;
    src: url(./fonts/RalewayRegular.ttf);
}

@font-face {
    font-family: RalewayBold;
    src: url(./fonts/RalewayBold.ttf);
}

.text1{
    font-family: Raleway;
    font-size: 14pt;
    text-transform: none;
}

.text2{
    font-family: RalewayBold;
    font-size: 14pt;
    text-transform: uppercase;
}

#images{
    position: absolute;
    width: 100%;
    height: 703px;
    top:1442px;
}

#foncontact{
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 250px;
    top:2145px;
    background-color: #3a3e64;
}

#fonfooter{
    position: absolute;
    width: 100%;
    height: 95px;
    top:2395px;
    background-color: #313454;
}

#all{
    margin:0;
    width: 61.5%;
    margin:0 auto;
    height: 2488px;
}

#heder{
    height: 100px;
}

#hedertext{
    height: 525px;
}

#info{
    margin-top: 100px;
    font-family: Raleway;
    height: 592px;
}

#galery{
    width: 100%;
    height: 703px;
}

#contact{
    z-index: 100;
    border: 3px solid blue;
    height: 250px;
}

#footer{
    height: 95px;
}

#works{
    float:left;
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 0;
}

.img1{
    margin-left: -17px;
}
.img4{
    margin-right: -17px;
}

#centerimg{
    width: 1900px;
    margin: 0 auto;
    height: 703px;
}

.images{
    width: 480px;
    height: 350px;
}

.images:hover{
    opacity: 1;
    background: red;
}

.sshover:hover{
    color: #313454;
}

.jpg{
    width: 480px;
    height: 350px;
    float: left;
    margin: 1px;
    padding: 0;
}

.logol1{
    background: url(./img/j1.jpg) no-repeat center top;
    margin-left: -16px;
}
.logol2{
    background: url(./img/j2.jpg) no-repeat center top;
}
.logol3{
    background: url(./img/j3.jpg) no-repeat center top;
}
.logol4{
    background: url(./img/j4.jpg) no-repeat center top;
    margin-right: -16px;
}
.logol5{
    background: url(./img/j5.jpg) no-repeat center top;
    margin-left: -16px;
}
.logol6{
    background: url(./img/j6.jpg) no-repeat center top;
}
.logol7{
    background: url(./img/j7.jpg) no-repeat center top;
}
.logol8 {
    background: url(./img/j8.jpg) no-repeat center top;
    margin-right: -16px;
}

.hov{
    display: none;
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 0;
}

.imgtext{
    line-height: 30px;
    width: 480px;
    height: 350px;
}


.syka{
    display: inline-block;
    margin-top: 145px;
}

div.jpg:hover p {
    width: 480px;
    height: 350px;
    margin: 0;
    display: block;
    background: rgba(255, 65, 63, 0.85);
}

#menu {
    line-height: 6;
    margin-left: 43%;
}

ul{

    height: 20px;
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
    float: left;
    padding-right: 11%;
    color: white;
    font-size: 13pt;
}

ul li:hover {
    opacity: 0.7;
}

#logo{
    position: absolute;
    line-height: 7;
    height: 24px;
    width: 189px;
}
#toptext{
    margin-top: 125px;
    display: block;
    color: white;
    font-family: OpenSansBold;
    font-size: 55pt;
    text-align: center;
    text-transform: uppercase;
}

#toptext2{
    color: white;
    text-align: center;
    font-size: 18pt;
}

#btn{
    top:130px;
    display:block;
    text-transform: uppercase;
    font-size:13pt;
    font-family: Raleway;
    color: white;
    cursor: pointer;
    background-color: #e84545;
    border-radius: 2px;
    width:200px;
    height:46px;
    margin:0 auto;
    border-color: transparent;
    margin-top: 90px;
}

#btn:hover{
    box-shadow: 0px 0px 20px 0px #2A2A2A;
}

.inft2{
    font-size: 10pt;
    text-align: center;
}

.inft1{
    margin-top: 80px;
    text-align: center;
}

.inf1{
    background: url(./img/info1.png) no-repeat center top;
    float: left;
}
.inf2{
    float: left;
    background: url(./img/info2.png) no-repeat center top;
}
.inf3{
    float: right;
    margin: 0;
    background: url(./img/info3.png) no-repeat center top;
}
.inf4{
    background: url(./img/info4.png) no-repeat center top;
    float: left;
}
.inf5{
    float: left;
    background: url(./img/info5.png) no-repeat center top;
}
.inf6{
    float: right;
    margin: 0;
    background: url(./img/info6.png) no-repeat center top;
}

.infoblock{
    margin: 20px 10px;
    height: 200px;
    width: 300px;
}
.cont{
    width: 61.5%;
    margin:0 auto;
    height: 250px;
}

.oneblocks{
    float: left;
    width: 360px;
    color: white;
}

.twoblocks{
    margin: 0 44px;
    float: left;
    width: 360px;
    color: white;
}

.threeblocks{
    float: right;
    width: 360px;
    color: white;
}

#sochttp{
    width: 135px;
    margin: 0 auto;
}

.socimg{
     margin: 0 1px;
     border:2px solid white;
     border-radius: 2px;
 }

.socimg:hover{
    opacity: 0.7;
}

#textfoot{
    font-family: Raleway;
    text-align: center;
    font-size: 11pt;
    color: #808080;
    margin: 30.5px 0;
}

#wheeu{
    color: white;
}